@page "/about"

<h3>About</h3>

<h2 class="text-xl font-bold mb-3 mt-6">Before Registering</h2>
<p>
    Please review the following guidelines carefully.
</p>
<ul>
    <li><strong>Deadline:</strong> Registration must occur between March 2nd and March 17th, 2024.</li>
    <li><strong>No Late Registrations:</strong> No exceptions will be made for late registrations, regardless of the reason.</li>
    <li><strong>Note:</strong> Every year we get contacted by dozens of individuals who miss the deadline, and no one has been allowed to register after the deadline.</li>
    <li><strong>Agree to Terms of Registration:</strong> By registering, you confirm that you have read and agree to abide by the official rules and regulations outlined by the competition.</li>
</ul>
<p>
    In the interest of accommodating and simplifying the registration process, anyone can create an account to register a participant.
</p>
<ul>
    <li><strong>Teachers:</strong> Encouraged to have a consistent approach to student registration. If registering on behalf of students, they should gather correct information and distribute hardcopy forms to be completed.</li>
    <li><strong>Students:</strong> If registering independently, they should be reminded of the deadline and print their registration details for verification.</li>
    <li><strong>Parents:</strong> Should check with teachers before registering their children and are encouraged to handle registration unless the child is old enough to register for themselves.</li>
</ul>
<h2 class="text-xl font-bold mb-3 mt-6">What can I do in this registration portal site?</h2>
<ul>
    <li><strong>Submit Registration:</strong> Once you create an account, you can submit a registration form and share your registration form with someone else, e.g., from teacher to student.</li>
    <li><strong>Edit Form:</strong> During the registration period, while your form is "Awaiting Review," you can edit your form details.</li>
    <li><strong>View Status and Track Changes:</strong> Monitor the status of your registration form at any stage of the process, from submission to verification. You can also track any changes or updates made to the form.</li>
    <li><strong>Note:</strong> Should a registration form's status be marked as "pending," it indicates an existing issue with the form that necessitates resolution during the registration process. If you encounter any difficulties or require assistance in resolving such issues, do not hesitate to contact us. The status of the registration form will transition from "Awaiting Review" to "Verified" once all requirements have been satisfactorily met.</li>
    <li><strong>View Communicate Updates:</strong> Such as prelim/final round scheduled date, time, and location.</li>
    <li><strong>Duplicate Error:</strong> If you encounter a duplicate error, there may already be a registration form submitted by you or someone else. Contact us for assistance.</li>
</ul>
<h2 class="text-xl font-bold mb-3 mt-6">Registration Requirements</h2>
<ul>
    <li><strong>Accuracy:</strong> Ensure that all required fields are filled accurately. Inaccurate information may lead to issues down the line.</li>
    <li><strong>ID Requirement:</strong> Acceptable documents for verification include State ID, Birth Certificate, Passport.</li>
    <li><strong>Photo Requirement:</strong> We require a high-quality passport-style photo displaying only your face in a well-lit environment. While a plain white background is preferred, please ensure that the background is plain and free from distractions such as curtains, trees, or other decorative elements.</li>
</ul>
<h2 class="text-xl font-bold mb-3 mt-6">Contact Information</h2>
<p>
    For questions or further information, please contact:
</p>
<p>
    Email: <a href="mailto:info@shatibiqc.org">info@shatibiqc.org</a><br>
    Phone: (612) 800-4435
</p>
<p>
    To report issues or give feedback on the Registration Portal, please complete the feedback form <a href="">here</a>.
</p>

@code {

}
