@page "/privacy"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous] 
@attribute [StreamRendering(enabled: true)]

<h1 class="text-2xl font-bold mb-3" tabindex="-1">Privacy Policy</h1>
<p>
    The North America Imam Shatibi Quran Competition Organization is committed to protecting the privacy and security of personal information collected from our users. This privacy policy outlines how we collect, use, store, and protect user data.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Purpose and Services</h2>
<p>
    We are a non-profit organization focused on promoting the memorization and recitation of the Quran among young Muslims. We organize annual Quran competitions in Minnesota, inviting esteemed judges to evaluate participants. Winners receive award prizes including monetary awards and/or an Umrah trip.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Personal Information Collected</h2>
<p>
    We collect personal information, such as name, date of birth, gender, parent and teacher information, and ID to verify eligibility. We also collect contact information, including phone numbers, for parents and teachers, as well as country, state, and city data for scheduling purposes. Photo images are collected for display during the competition and award displays. IDs and photos are deleted after one year, while other records are retained for 3 years unless deletion is requested.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Collection Methods</h2>
<p>
    We collect user information through registration forms on our website, nasqcportal.org.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Use of Personal Information</h2>
<ul>
    <li>Identify and classify participants in the competition.</li>
    <li>Verify eligibility and authenticate users.</li>
    <li>Schedule events and contact participants for competition-related issues.</li>
    <li>Display participant names, states, and images during live recordings of the competition.</li>
    <li>Maintain a record of phone numbers for use in future competition updates.</li>
</ul>
<h2 class="text-xl font-bold mb-3 mt-6">Sharing Personal Information</h2>
<p>
    We do not share personal information with third parties. Access to personal information is limited to admin, select support teams, judges, and volunteers as needed for the competition. Judges will have access to pertinent information like name and competition category, while volunteers may access phone information for necessary contact.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Security Measures</h2>
<p>
    We use SSL encryption, access control, secure data storage, and confidentiality agreements to protect user information.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Data Retention</h2>
<p>
    Personal information is retained for 3 years if not active. IDs and photos are deleted after one year. Users can request deletion of their data by emailing records@shatibiqc.org.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Access, Corrections, and Deletion</h2>
<p>
    Users can email us at records@shatibiqc.org to access, correct, or delete their personal information.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Cookies and Tracking Technologies</h2>
<p>
    Our website does not currently use cookies or tracking technologies.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Handling Personal Information of Minors</h2>
<p>
    Minor students are registered by their parents or teachers with parental consent.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Cross-Border Data Transfers</h2>
<p>
    We do not transfer personal information across borders.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Privacy Policy Updates</h2>
<p>
    Any significant changes to our privacy policy will be updated on our website. We will notify users of any material changes to this Policy by posting a notice on our website or by other means as required by law. We encourage users to review this Policy periodically to stay informed about how we are protecting their personal information.
</p>
<h2 class="text-xl font-bold mb-3 mt-6">Contact Us</h2>
<p>
    If you have any questions or concerns about this Privacy Policy or our practices with regards to personal information, please contact us at privacy@shatibiqc.org.
</p>