@* @page "/test"
@inject IUserData UserData
@rendermode InteractiveServer

@attribute [Authorize(Roles = "Admin")]

<button class="rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" 
    @onclick="CreateUser">Create AS65D & B56SN Users</button>


@code {
    private async Task CreateUser()
    {
        User user = new()
        {
            ObjectIdentifier = "AS65D",
            FirstName = "Mohamed",
            LastName = "Shiek",
            DisplayName = "Mohamed S",
            EmailAddress = "mshiek114@gmail.com",
            Role = "Admin"

        };
        await UserData.CreateUser(user);
        user = new()
        {
            ObjectIdentifier = "B56SN",
            FirstName = "Khalid",
            LastName = "Abdi",
            DisplayName = "Khalid A",
            EmailAddress = "kabdi114@gmail.com",
            Role = "Participant"
        };
        await UserData.CreateUser(user);
    }
}
 *@