<div class="nav-item pr-4">
    <AuthorizeView>
        <Authorized>
            <form action="/Account/Logout" method="post">
                <AntiforgeryToken />
                <button type="submit" class="nav-link">
                    <span class="bi bi-logout-badge-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="/Account/Login" data-enhance-nav="false">
                <span class="bi bi-login-badge-nav-menu" aria-hidden="true"></span> Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>
