<div>
    <h1 class="text-2xl font-bold mb-3">Registration Form | @Division Division</h1>
    <p>If you encounter any problems during registration, please contact us <a href="report" target="_blank">here</a>.</p>
</div>

@code {
    [Parameter]
    public string Division { get; set; }   
}
