<button type="button" @onclick="PrefillFields" class="rounded-md bg-sky-700 px-3 py-2 mb-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-700">
    Prefill Fields with Fake Data
</button>

@code {
    [Parameter]
    public FormDto Data { get; set; }

    [Parameter] public EventCallback<FormDto> DataChanged { get; set; }

    private void PrefillFields()
    {
        DataPrefiller.PrefillFields(Data);

        DataChanged.InvokeAsync(Data);
    }
}
