@page "/register"
@attribute [Authorize]

<div class="box-border border-4 border-cyan-800/50 rounded-lg divide-y divide-gray-200 overflow-hidden shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
    <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group relative bg-white p-6 hover:bg-gray-50 focus:z-10">
        <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
                <a href="create/memorization" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    Memorization
                </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
                Participants compete on their memorization and recitation of various portions of the Quran, ranging from the entire Quran (30 Juz) to smaller sections (20 Juz, 15 Juz, 10 Juz, 5 Juz, 1 Juz).
            </p>
        </div>
        <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
            </svg>
        </span>
    </div>
    <div class="sm:rounded-tr-lg group relative bg-white p-6 hover:bg-gray-50 focus:z-10">
        <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
                <a href="create/ten-qiraat" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    Ten Qira'at
                </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
                This division focuses on recitation styles and offers categories for the complete Quran (International 30 Juz) as well as 30, 15, and 5 Juz for North America residents.
            </p>
        </div>
        <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
            </svg>
        </span>
    </div>
    <div class="group relative bg-white p-6 hover:bg-gray-50 focus:z-10">
        <div class="mt-8">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
                <a href="create/best-voice" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    Best Voice
                </a>
            </h3>
            <p class="mt-2 text-sm text-gray-500">
                This division is aimed at participants who excel in the melodiousness and quality of their Quranic recitation, with age categories for those 13 years and older and those 12 years and younger.
            </p>
        </div>
        <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
            </svg>
        </span>
    </div>
    <div class="group relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-cyan-700">

    </div>
</div>
