@page "/search-record"

@attribute [Authorize(Roles = "Admin")]

<div class="text-center">
    <h1 class="text-xl mb-3 font-bold">Search Record</h1>

    <p>This page is for a more advanced form list for searching records with filters and whatnot. Comming soon.</p>
</div>